<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col">
            <h3 class="text-center">ASCII VALUE FINDER</h3>
        </div>
    </div>
</div>
<!--  -->

  <!-- <div class="container mt-5 pt-5">
    <div class="row text-center">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="input">
        </div>
        <div class="col">
            <button class="btn btn-success" (click)="check()">move to boot</button>
        </div>
    </div>
  </div> -->
  
  <div class="container mt-5 pt-5">
    <div class="row text-center">
        <div class="col">
            <input type="text" (keyup)="keyuse($event)" >
        </div>
        <div class="col">
            <p>key : {{key}}</p>
            <p>code : {{code}}</p>
            <p>keycode : {{keycode}}</p>
        </div>
    </div>
  </div>


