<div class="container text-center">
    <div class="row m-5">
        <h3>page3 works!</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col"> Name :<input type="text" class="form-control"  [(ngModel)]="name"></div>
        <div class="col"> Reg no:<input type="text" class="form-control" [(ngModel)]="regno"></div>
        <div class="col"> Dep :<input type="text" class="form-control" [(ngModel)]="dep"></div>
        
    </div><div class="col"><button class="btn btn-primary mt-4" (click)="add()">Add </button></div>
    <!-- <div class="col"><button class="btn btn-primary mt-4" (click)="get()">get </button></div> -->
    <div class="col"><button class="btn btn-primary mt-4" (click)="delete(regno)">delete </button></div>

</div>

<div class="container table-responsive mt-5">
    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Register No</th>
            <th>Department</th>
        </thead>
        <tbody>
            <tr *ngFor="let value of demo">
                <td>{{value.name}}</td>
                <td>{{value.registerNo}}</td>
                <td>{{value.department}}</td>
            </tr>
        </tbody>
    </table>
</div>